/* Page logins */

.navbar{
  border-radius: 0px;
  background-color: #34495E;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.input-group{
  margin: 0 12px 12px 12px;
}

.input-group-addon{
  padding: 0;
  /**min-width:130px;**/
  min-width:130px;

}

.form-horizontal .form-group{
  margin-right:0px;
}

.btn{
  width:98%;
  margin-left:1%;
}

body, html {
  margin: 0px auto;
  background-color:#F9F9F9;
  overflow-x: hidden;
  max-width:100%;
}

.pagescreen {
  width: auto;
  height: auto;
  background-color:#F9F9F9;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}


