/* Page logins */

.navbar{
  border-radius: 0px;
  background-color: #34495E;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.input-group{
  margin: 0 12px 12px 12px;
}

.input-group-addon{
  padding: 0;
  min-width:130px;
}

.form-horizontal .form-group{
  margin-right:0px;
  /** overriding **/
}

h3{
  margin-top:0px;
}

.small-icon{
  width:20px;
  height:auto;
  /** test 12 **/
}

.

.btn{
  width:98%;
  margin-left:1%;
}

.btn-list{
  width: auto;
  margin-left:0%;
  text-decoration: none;
}

body, html {
  margin: 0px auto;
  background-color:#F9F9F9;
  overflow-x: hidden;
  max-width:100%;
}

.pagescreen {
  width: auto;
  height: auto;
  background-color:#F9F9F9;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}

.fa {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}


