html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 50%;
    border-width: 0 0 2px 0;
    border-style: solid;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.doc-block{
    border-width: 1px;
    border-style: solid;
    margin-top: 1%;
}

.loc-block:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 83.3%;
    border-left: 1px solid;
}

.container-fluid{
    padding-left:5% !important;
}

.search-form{
    margin-top: 8px;
    width: 250px;
}

.icon-document{
    margin-top:20px;
}
.side-bar{
    border-width: 1px;
    border-style: solid;
    height:500px;
}

.container-fluid {
    padding-right:0 !important;
}

.no-padding{
    padding:0 !important;
}

