html{
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;

}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#map {
    height: 50%;
    border-width: 0 0 2px 0;
    border-style: solid;
    z-index: 100;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.container-fluid{
    margin-top: 1%;
    padding-right:0 !important;
    padding-left:2% !important;
    margin-right: auto;
    margin-left: auto;
}

.doc-block{
    border-width: 1px;
    border-style: solid;
    margin-bottom: 1%;
    cursor : pointer;
}

.doc-row{
    margin-right: 10px !important;

}

.loc-block:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 83.3%;
    border-left: 1px solid;
}

.loc-icon{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}


.search-form{
    margin-top: 8px;
    width: 250px;
}

.icon-document{
    margin-top:20px;
}


.side-bar{
    border-width: 1px;
    border-style: solid;
    margin-bottom: 1%;

}

.no-padding{
    padding:0 !important;
}

#tags-form{
    margin-top:10px;
}
.cont-sidebar{
    padding: 0px!important;
}

.mob-sidebar{
    margin-bottom: 50px;
    z-index: -100;
}

#location-form{
    margin-top:10px;
}

.search-block {
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 0 10px 10px 10px;
}



.doc-type-block{
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 10px 0 10px 10px;
}

.doc-time-block {
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 10px 0 10px 10px;
}

.slider-block{
    padding: 0 10px 10px 10px;
}

.icon-time{
    width: 37px;
    height: 37px;
}

.input-time{
    margin-bottom: 10px;
}

.toggle-button {
    background-color: white;
    margin: 5px 0; border-radius: 20px;
    border: 2px solid #D0D0D0;
    height: 24px;
    cursor: pointer;
    width: 50px;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select:
    none; -ms-user-select:
    none; -moz-user-select: none;
    margin-left: -4%;
    position: absolute;
    top: 49.6%;
}
.toggle-button button {
    cursor: pointer;
    outline: 0;
    display:block;
    position: absolute;
    left: 0;
    top: -2px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: white;
    float: left;
    margin: -3px 0 0 -3px;
    border: 2px solid #D0D0D0;
    transition: left 0.3s;
}
.toggle-button-selected {
    background-color: #83B152;
    border: 2px solid #7DA652;
}
.toggle-button-selected button {
    left: 26px;
    top: -2px;
    margin: 0;
    border: none;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.toggle-button-selected-vert{
    background-color: #83B152;
    border: 2px solid #7DA652;
}

.toggle-button-selected-vert button {
    left: 0px;
    top: 0px !important;
    margin: 0;
    border: none;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.hiddenType{
    display: none!important;
}

.hiddenTime{
    display: none!important;
}




